page-addidea {
  .colorchange {
    background: linear-gradient(338deg, #c747b9, #bbed7d, #eb4215, #526ced);
    background-size: 400%;
    animation: Colorchange 46s ease infinite;
    -webkit-animation: Colorchange 46s ease infinite;

  }

 @keyframes Colorchange {
   0%{background-position:11% 0%}
   50%{background-position:90% 100%}
   100%{background-position:11% 0%}
 }
 @webkit-keyframes Colorchange  {
   0%{background-position:11% 0%}
   50%{background-position:90% 100%}
   100%{background-position:11% 0%}
 }
 ion-card-content {
   border-bottom: 1px solid black;
}
}
